## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from django.conf import settings

from datetime import datetime
import pytz

from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
from openedx.core.djangolib.markup import HTML, Text
%>

<div class="wrapper " style=" 
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
    border-top: 1px solid #c5c6c7;
    padding: 10px 25px 10px 25px;
    background: #e6e6e6;
    clear: both;
                                           ">
  <footer>
    <!-- This is super-ugly, don't use it! -->
    <div class="colophon">
      <nav class="nav-colophon" aria-label="${_('About')}">
      <ol style="
          width: auto;
  				float: right;
 				  margin-top: 8px;
                 ">
          <li class="nav-colophon-01" style="
            display: inline-block;
  				  padding: 15px,30px;
                                             ">
          <a id="about" href="${marketing_link('ABOUT')}" style=" 
                color: #ff0012;
  					    font: inherit;
  				 	    text-decoration: none;
  				 	    transition: all 0.1s linear 0s;
                                                                 ">
              ${_("About ")}
          </a>|
          </li>
          %if marketing_link('JOBS') and marketing_link('JOBS') != '#':
            <li class="nav-colophon-02">
              <a id="jobs" href="${marketing_link('JOBS')}">
                ${_("Jobs")}
              </a>
            </li>
          %endif
          %if marketing_link('NEWS') and marketing_link('NEWS') != '#':
            <li class="nav-colophon-03">
              <a id="news" href="${marketing_link('NEWS')}">
                ${_("News")}
              </a>
            </li>
          %endif
          <li class="nav-colophon-04" style="
            display: inline-block;
  				  padding: 15px,30px;
                                             ">
          <a id="faq" href="${marketing_link('FAQ')}" style=" 
                color: #ff0012;
  					    font: inherit;
  				 	    text-decoration: none;
  				 	    transition: all 0.1s linear 0s;
                                                                 ">
              ${_(" FAQ ")}
          </a>|
          </li>
          <li class="nav-colophon-05" style="
            display: inline-block;
  				  padding: 15px,30px;
                                             ">
          <a id="contact" href="${marketing_link('CONTACT')}" style=" 
                color: #ff0012;
  					    font: inherit;
  				 	    text-decoration: none;
  				 	    transition: all 0.1s linear 0s;
                                                                 ">
              ${_(" Contact")}
          </a>
          </li>
      </ol>
      </nav>

      % if context.get('include_language_selector', footer_language_selector_is_enabled()):
          <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
      % endif

      <div class="wrapper-logo">
        <p>
          <a href="/">
            ## this is just a placeholder logo
            ## feel free to change this logo to your own by replacing "logo.png" with your own logo
            <img alt="organization logo placeholder" src="${static.url("images/logo.png")}" height="65px">
          </a>
        </p>
      </div>

      <p class="copyright" style=" 
              text-align: left;
			        margin: 5px 0 8px;
			        font-size: 0.8em;
			        color: #767676;
                                  ">&copy; ${datetime.now(pytz.timezone(settings.TIME_ZONE)).year} Gobeze Consult.</p>

      <div class="social-menu">
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

        </ul>

      </div>
<!--    
      <nav class="nav-legal" aria-label="${_('Legal')}">
        <ul>
        % if marketing_link('HONOR') and marketing_link('HONOR') != '#':
          <li class="nav-legal-01">
            <%
              tos_link = HTML(u"<a href='{}'>").format(marketing_link('TOS'))
              honor_link = HTML(u"<a href='{}'>").format(marketing_link('HONOR'))
            %>
            ${
              Text(_("{tos_link_start}Terms of Service{tos_link_end} and {honor_link_start}Honor Code{honor_link_end}")).format(
                tos_link_start=tos_link,
                tos_link_end=HTML("</a>"),
                honor_link_start=honor_link,
                honor_link_end=HTML("</a>"),
              )
            }
          </li>
        % else:
          <li class="nav-legal-01">
            <a href="${marketing_link('TOS')}">${_("Terms of Service")}</a>
          </li>
        % endif
          <li class="nav-legal-02">
            <a href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
          </li>
        </ul> 
      </nav> -->
    </div>

  </footer>
</div>
