<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
  <section class="home">
    <header>
      
       <div class="jumbo">
        <div class="jumbo-content">
            <div class="text-area">
                <h2>This is Gobeze</h2>
                <p>Learn 100% online with working profesionals and industry experts. <br /><span class="hide-sm"> Develop hobbies, new skills
                    and
                    career-changing expertise with our <br />flexible courses.</span></p>
                <div class="jumbo-btn">
                    <a href="#!" style="color: white;"> <b> Explore Courses</b></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Jumbo -->
    <!-- Why Gobeze? -->
    <section id="why-gobeze">
        <div class="con">
            <div class="titles">
                <h2>Why Gobeze?</h2>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="ic">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </div>
                    <h3>Learn anything</h3>
                    <p>Whether you want to develop as a professional or discover a new hobby, there's an online course
                        for that. You can even take your learning further with online programs and degrees.</p>
                </div>
                <div class="card">
                    <div class="ic">
                     <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <h3>Learn together</h3>
                    <p>Join other people from around the world learning together. Online learning is as easy and
                        natural as chatting with a group of friends.</p>
                </div>
                <div class="card">
                    <div class="ic">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <h3>Learn with experts</h3>
                    <p>Meet educators and working proffesionals and experts, who'll share their experience
                        through videos, articles, quizzes and discussions.</p>
                </div>
            </div>

        </div>
    </section>
    <!--End Why Gobeze? -->

    <!-- Learn with us & Teach with Us  -->
    <section id="learn-teach">
        <div class="holder">
            <div class="sec-r" >
                <h2>Learn with Us</h2>
                <p>Career-changing courses with a flexible monthly subscription and 7-day free trial</p>
                <div class="learn">
                    <a href="#!"><b>Explore Courses</b></a>
                </div>
            </div>
            <div class="sec-l" >
                <h2>Teach with Us</h2>
                <p>Learn more about our new course portfolio for professional learners our new course portfolio for</p>
                <div class="learn">
                    <a href="#!"><b>Find out more</b></a>
                </div>
            </div>
        </div>
    </section>
    <!--End Learn with us & Teach with Us  -->

      </header>
      <div class="our-stud">
        <p>People who have attended our programs power some of the best companies in Ethiopia.</p>
        <p class="line-for-stud"></p>
      </div>
      <div class="row">
        <div class="container">
          <section class="customer-logos slider">
            <div class="slide"><img src="${static.url("images/cactus.png")}"></div>
            <div class="slide"><img src="${static.url("images/bc.png")}"></div>
            <div class="slide"><img src="${static.url("images/cocacola.png")}"></div>
            <div class="slide"><img src="${static.url("images/diago.png")}"></div>
            <div class="slide"><img src="${static.url("images/ethioairlines.png")}"></div>
            <div class="slide"><img src="${static.url("images/giz.png")}"></div>
            <div class="slide"><img src="${static.url("images/iceaddis.png")}"></div>
            <div class="slide"><img src="${static.url("images/rfc.png")}"></div>
          </section>
        </div>  
      </div>

      <script type="text/javascript">
        $(document).ready(function () {
          $('.customer-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1000,
            arrows: false,
            dots: false,
            pauseOnHover: false,
            responsive: [{
              breakpoint: 768,
              settings: {
                slidesToShow: 4
              }
            }, {
              breakpoint: 520,
              settings: {
                slidesToShow: 3
              }
            }]
          });
        });
      </script>

      <%include file="${courses_list}" />

    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
        <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
    $(window).load(function () {
      if (getParameterByName('next')) {
        $('#login').trigger("click");
      }
    })
  </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function () { $('#signup_action').trigger("click"); });
</script>
% endif