<%page expression_filter="h"/>

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>

<div class="jumbo">
    <div class="jumbo-content">
    <h1>Helping <span class="bigh1">Good People WIN.</span></h1>
    <h2>Buisness and Digital Skills for Dreamers</h2>
    <p>Register for <span class="free">Free</span> and enjoy a growing number<br/>of Online training programs from  Gobeze<br/>Training and other partners.</p>
    <p class="gobeze-member"><sup>*</sup>Gobeze is a founding member of Startup Ethiopia and member of Social Enterprise Ethiopia.</p>
</div>
</div>
## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.

