<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <header>
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">
              % if homepage_overlay_html:
                ${homepage_overlay_html | n, decode.utf8}
              % else:
                <%include file="index_overlay.html" />
              % endif
            </div>
            % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
              <div class="course-search">
                <form method="get" action="/courses">
                  <label><span class="sr">${_("Search for a course")}</span>
                    <input class="search-input" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
                  </label>
                  <button class="search-button" type="submit">
                    <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
                  </button>
                </form>
              </div>
            % endif

          </div>

          <%include file="index_promo_video.html" />
        </div>

      </header>

      <div class="row">
        <div class="container">
          <section class="customer-logos slider">
            <div class="slide"><img src="${static.url("images/gobeze.png")}"></div>
            <div class="slide"><img src="${static.url("images/AI.png")}"></div>
            <div class="slide"><img src="${static.url("images/dt.png")}"></div>
            <div class="slide"><img src="${static.url("images/gobeze.png")}"></div>
            <div class="slide"><img src="${static.url("images/AI.png")}"></div>
            <div class="slide"><img src="${static.url("images/dt.png")}"></div>
            <div class="slide"><img src="${static.url("images/gobeze.png")}"></div>
            <div class="slide"><img src="${static.url("images/AI.png")}"></div>
            <div class="slide"><img src="${static.url("images/dt.png")}"></div>
          </section>
        </div>
      </div>
    
      <script type="text/javascript">
        $(document).ready(function(){
          $('.customer-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1000,
            arrows: false,
            dots: false,
              pauseOnHover: false,
              responsive: [{
              breakpoint: 768,
              settings: {
                slidesToShow: 4
              }
            }, {
              breakpoint: 520,
              settings: {
                slidesToShow: 3
              }
            }]
          });
        });
      </script>

      <%include file="${courses_list}" />

    </section>
</main>
<div class="teach-with-us">
  <h1 class="teach-big">ከእኛ ጋር አስተምሩ።</h1>
  <p class="teach-small">የምታውቁት፣ በጣምም የምትወዱት ሙያ ካላችሁ አብረን ሆነን ሃገር የሚያስመሰግኑ ባለሙያዎችን ማነጽ እንድንችል ተጋብዛችኋል።</p>
  <p class="teach-small">ምንም የማስተማር ልምድ የሌላቸውን እናበረታታለን።ኦንላይን ወይም በክፍል ውስጥ የሚሰጡ አማራጮችን ማሰብ ይቻላል።</p>
</div>
% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
        <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
