


.global-header{
	box-sizing: border-box;
    width: 100%;
	overflow: hidden;
	padding-bottom: 0px;
    border-bottom: 1px solid #ff0012;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    background: #fff;
    line-height: 1.5;
.header-logo{
	a{
		.logo{
			float: left;
    	height: 60px;
      margin-top: -10px;
		}
	}
}
}

.header-global h1.logo img {
	max-height: 40px;
}

/*.home > header {
	background: url('../images/bg-pic.png');
	background-size: cover;
	background-position: 50%;
	
	.outer-wrapper {
		padding-top: 150px;
	    padding-bottom: 150px;
	}
	.title {
		background: transparent;
		box-shadow: none;
		margin-left: 0;

		> .heading-group h1 {
                        font-size: 180px;
			color: #66D8F2;
			text-shadow: none;
		}
		> .heading-group p {
			font-size: 50px;
			color: #fff;
		}
	}
}*/
.home > header {
	background: none;
}

/*Style for the Jumbo*/
.jumbo {
  background-image: url('../images/gobezeJumbo.png');
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbo .jumbo-content {
  position: relative;
  height: 400px;

  background: rgba(237, 27, 45, 0.2);
}
.text-area {
  color: white;
  position: absolute;
  top: 100px;
  right: 10%;
  font-family: Arial;
}
.text-area h2 {
  font-size: 3.5rem;
  font-family: Arial;
  color: white;
  line-height: 1.25;
}
.text-area p {
  margin-top: 10px;
  font-family: Arial;
  font-size: 1rem;
  line-height: 2;
}
.jumbo-content .jumbo-btn {
  margin-top: 10px;
  padding: 0.4rem;
  background-color: #ed1b2d;
  color: white;
  width: fit-content;
  border-radius: 6px;
  transition: background-color .4s;
  cursor: pointer;
  /* transition: color 1s; */
}
.jumbo-content .jumbo-btn:hover {
  background-color: #040707;
  color: #040707;
}
.jumbo-content .jumbo-btn a {
  text-align: center;
  color: inherit;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
}
.jumbo-content .jumbo-btn a:hover {
  /* color: #040707; */
}

/*Style for Why Gobeze Section*/
#why-gobeze {
  margin: 50px 0;
  text-align: center;
  /* font-size: 26px; */
  color: #040707;
}
.con {
  color: #040707;
  margin: 10px 8%;
}
.con .titles {
  font-size: 2rem;
  line-height: 1.25;
}
.con .titles h2{
  color: #040707;
  font-family: Arial;
}
.con .cards {
  text-align: center;
  margin: 50px 0;
  display: flex;
}
.cards .card {
  /* border: 1px solid black; */
  position: relative;
  width: 28%;
  margin-right: 6%;
  flex-grow: 1;
}
.cards .card:last-child {
  margin-right: 0;
}
.cards .card .ic {
  position: absolute;
  top: 0;
  left: 0;
}
.cards .card h3 {
  text-align: left;
  margin-top: 35px;
  font-size: 1.75rem;
  line-height: 1.5;
}

.cards .card p {
  margin-top: 10px;
  font-size: 0.9rem;
  line-height: 2;
  text-align: left;
}

/*Styles for Learners and Gobeze for Business*/
#learn-teach {
  margin-top: 30px;
}
#learn-teach .holder {
  display: flex;
  color: white;
}
#learn-teach .holder .half{
  width: 100%;
}
#learn-teach .holder .sec-r {
  background-image:url('../images/t-r.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  transform: scale(1);
}
#learn-teach #effect-r, #learn-teach #effect-l{
    transform: scale(1);   
    transition: transform .4s;
}
#learn-teach #effect-r.effect-r, #learn-teach #effect-l.effect-l{
    transform: scale(1.05);   
}
#learn-teach .holder .sec-r h2 {
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
#learn-teach .holder .sec-l {
  background-image:url('../images/t-l.png');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
#learn-teach .holder .sec-l .transbox-l{
  padding: 6% 8% 6% 6%;
  background: rgba(237, 27, 45, 0.6);
  height: 100%;  
}
#learn-teach .holder .sec-r .transbox-r{
  padding: 6% 6% 6% 8%;
  background: rgba(237, 27, 45, 0.6);
  height: 100%;
}
#learn-teach .holder .sec-l h2 {
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
#learn-teach .holder h2 {
}
#learn-teach .holder p {
  margin-top: 10px;
  font-size: 1 rem;
  line-height: 1.5;
}
#learn-teach .holder .learn {
  margin-top: 10px;
  width: 160px;
  padding: 10px;
  border: 2px solid white;
  background-color: transparent;
  transition: background-color 1s;
  cursor: pointer;
}
#learn-teach .holder .learn a {
  text-decoration: none;
  color: white;
}
#learn-teach .holder .learn:hover {
  background-color: #ed1b2d;
}


.courses-container{
	padding: 0 20px 10px;
}
.courses-container .courses .course {
  border-bottom: 3px solid #040707;
}

.courses-container .courses .course .course-info {
    height: 180px;
    font-family: arial;
}
.courses-container .courses .course .course-info .course-title {
    line-height: 23.68px;
    margin: 15px 0 0px 0;
    padding: 0 15px;
    height: 35px;
    color: #000;
}
.courses-container .courses .course .course-info .course-date {
    line-height: 122.72px;
    padding: 2px 15px;
}


/*Styles for teach widthth us page*/

#t-jumbo {
  background-image: url('../images/teachp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
#t-jumbo .t-content {
  padding: 10%;
  color: white;
}

#t-jumbo .t-content h1 {
  font-weight: bold;
  color: white;
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: center;
}
#t-jumbo .t-content h2 {
  color: white;
  text-align: center;
  font-family: Arial;
  font-size: 1.5rem;
  margin-top: 10px;
}

/*Why teach on Gobeze*/
section.t-why {
  margin: 40px 10%;
  text-align: center;
  max-width: 80%;
}
.t-why h1 {
  /* margin-bottom: 20px; */
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.5;
}
.t-why p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 20px;
}
.t-why .line1 {
  padding-top: 10px;
  margin: 0 auto;
  width: 10%;
  border-top: 2px solid #040707;
}


/*How teaching works*/
#how-teaching {
  margin: 60px 10%;
  padding: 20px;
}
#how-teaching .t-title h1 {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: left;
  line-height: 1.5;
}

#how-teaching .t-cards {
  display: flex;
}

#how-teaching .t-cards .t-card {
  /* border: 1px solid black; */
  padding-right: 2%;
}
#how-teaching .t-cards .t-card:last-child {
  padding-right: 0;
}
#how-teaching .t-cards .t-card h4 {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}
#how-teaching .t-cards .t-card p {
  font-size: 1rem;
  line-height: 1.6;
}
#how-teaching .t-cards .t-card img.item-imgs {
  width: 100%;
  max-height: 120px;
  padding: 25px 0;
}

/*Ready to start Teaching*/
#ready {
  margin: 60px 10%;
  padding: 20px;
  text-align: center;
}
#ready .t-title h1 {
  font-size: 1.7rem;
  line-height: 1.5;
}
#ready p {
  margin-top: 20px;
}

/*Styles for Government Page*/

.all-wrapper {
  margin-top: 30px;
}

.g-cont {
  padding: 0 10%;
  display: flex;
}
.g-cont .g-img img {
height: 330px;
}
.g-cont .g-text {
  text-align: center;
  margin-top: 30px;
  padding-left: 40px;
}
.g-cont .g-text .g-headline {
  text-align: left;
}
.g-cont .g-text .g-headline h1 {
  font-weight: bold;
  text-align: left;
  font-size: 2.2rem;
  color: black;
  margin-bottom: 0;
}
.g-cont .g-text p {
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
}
.g-cont .g-text .bbtn {
  margin-top: 30px;
  text-align: left;
  background-color: #ed1b2d;
  border-radius: 3px;
  padding: 20px;
  width: fit-content;
  cursor: pointer;
}
.g-cont .g-text .bbtn:hover {
  background-color: #c71827;
}
.g-cont .g-text .bbtn a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  /* letter-spacing: 1.5px; */
}

/* Section Two: Power your learning */

#pow{
background-color: #ed1b2d;

}
#pow .pow-cont{
  margin: 30px 60px;
  padding: 5%;
  text-align: center;
}
#pow .pow-cont .p-heading{
color: white;
}
#pow .pow-cont .p-heading h1{
font: bold 2.8rem Arial;
color: white;
margin-bottom: 0;
}
#pow .pow-cont .req-btn{
  padding: 12px;
background-color: white;
width: fit-content;
margin: 0 auto;
margin-top: 20px;
border-radius: 3px;
cursor: pointer;
transition: background-color .5s;
}
#pow .pow-cont .req-btn:hover{
background-color: #d1d1d1;
}
#pow .req-btn a {
text-decoration: none;
color: #ed1b2d;
font-size: 1.2rem;
letter-spacing: .035rem;
}

/* Section Three: Prepare */
#prepare{
margin: 20px 10%;
text-align: center;
}
#prepare .prep-head{
text-align: center;
}
#prepare .prep-head h1{
font-size: 2.2rem;
line-height: 1.5;
}
#prepare .g-cards{
  text-align: center;
margin-top: 20px;
display: flex;
flex-wrap: wrap;
}
#prepare .g-cards .g-card{
width: 32%;
padding-right: 2%;
}
#prepare .g-cards .g-card:last-child{
padding-right: 0;
}
#prepare .g-cards .g-card .g-card-img{

}
#prepare .g-cards .g-card .g-card-img img.card-imgs{
  width: auto;
  max-height: 132px;
  padding: 25px 0;
}
#prepare .g-cards .g-card h4{
  font-size: 1.2rem;
  margin-top: 10px;
  line-height: 1.5;
  font-weight: bold;
  font-family: inherit;
  margin-bottom: 10px;
}
#prepare .g-cards .g-card p{
  font-size: 1rem;
  line-height: 1.5;
}
