


.global-header{
	box-sizing: border-box;
    width: 100%;
	overflow: hidden;
	padding-bottom: 0px;
    border-bottom: 1px solid #ff0012;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
    background: #fff;
    line-height: 1.5;
.header-logo{
	a{
		.logo{
			float: left;
    		height: 60px;
		}
	}
}
}

.header-global h1.logo img {
	max-height: 40px;
}

// .home > header {
// 	background: url('../images/bg-pic.png');
// 	background-size: cover;
// 	background-position: 50%;
	
// 	.outer-wrapper {
// 		padding-top: 150px;
// 	    padding-bottom: 150px;
// 	}
// 	.title {
// 		background: transparent;
// 		box-shadow: none;
// 		margin-left: 0;

// 		> .heading-group h1 {
//                         font-size: 180px;
// 			color: #66D8F2;
// 			text-shadow: none;
// 		}
// 		> .heading-group p {
// 			font-size: 50px;
// 			color: #fff;
// 		}
// 	}
// }

.jumbo{
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	background: url('../images/bgweb.png') no-repeat;
	background-position: cover;
	/* background-size: cover; */
	/* background-size: contain; */
	background-position-x: right;
	background-size: 550px;
	background-color: black;
	
}
.jumbo .jumbo-content{
	padding: 60px 40px ;
	padding-left: 5%;
	padding-bottom: 40px;

}
.jumbo .jumbo-content h1{
	color: crimson;
	font-size: 3rem;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
}
.jumbo .jumbo-content h1 span{
	font-size: 4.5rem;

}
.jumbo .jumbo-content h2{
	color: white;
	font-size: 2rem;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
}
.jumbo .jumbo-content p{
	color: rgb(73, 73, 73);
	font-size: 1.5rem;
	/* letter-spacing: .15rem; */
	word-spacing: .5rem;
	padding: 0;
	margin: 0;
}
.jumbo .jumbo-content p span.free{
	color: white;
}
.jumbo .jumbo-content p.gobeze-member{
	color: white;
	font-size: 1rem;
	text-align: right;
	word-spacing: normal;
	padding: 0;
	margin: 0;
	padding-top: 15px;
}

/*Teach with Us Section */
.teach-with-us {
	background: url('../images/bg-teach.jpg') no-repeat;
	background-size: cover;
	background-position: 50%;
	text-align: center;
	clear: both;
	margin-left: -20px;
	margin-right: -20px; 
	margin-bottom: -10px;
	.transbox {
		background: rgba(237, 27, 45, 0.6);
		padding-bottom: 12px;
	}
	h1.teach-big {
		color: white;
		font-size: 6rem;
		letter-spacing: 3px;
		margin: 0;
		padding: 0;
	}
	p.teach-small {
		color: white;
		margin: 0 0 10px 0;
		padding: 0;
	}
}



.courses-container .courses .course .course-info {
    height: 180px;
    font-family: arial;
}
.courses-container .courses .course .course-info .course-title {
    line-height: 23.68px;
    margin: 15px 0 0px 0;
    padding: 0 15px;
    height: 35px;
    color: #000;
}
.courses-container .courses .course .course-info .course-date {
    line-height: 122.72px;
    padding: 2px 15px;
}


