## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from django.conf import settings

from datetime import datetime
import pytz

from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
from openedx.core.djangolib.markup import HTML, Text
%>

<div class="wrapper">
    <footer>
        <div class="logo">
          <a href="/">
          <img
            alt="siltena logo"
            src="${static.url("images/logo.png")}" height="32px">
            </a>
        </div>
        <div class="footer-content">
        
          <div class="links">
          <div class="gobeze">
            <ul class="footer-lists">
              <li class="footer-link title">Siltena</li>
              <li class="footer-link">
                <a href="#!" >About</a
                >
              </li>
              <li class="footer-link">
                <a href="teach" 
                  >Teach with us</a
                >
              </li>
              <li class="footer-link">
                <a href="#!" 
                  >siltena for Business</a
                >
              </li>
              <li class="footer-link">
                <a href="/government" 
                  >siltena for Government</a
                >
              </li>
            </ul>
          </div>
          <div class="resources">
            <ul class="footer-lists">
              <li class="footer-link title">Resources</li>
              <li class="footer-link">
                <a href="/downloads" 
                  >Get App</a
                >
              </li>
              <li class="footer-link">
                <a href="/courses" 
                  >Courses</a
                >
              </li>
            </ul>
          </div>
          <div class="legal">
            <ul class="footer-lists">
              <li class="footer-link title">Legal</li>
              <li class="footer-link">
                <a href="#!" >
                  Terms of Service</a
                >
              </li>
              <li class="footer-link">
                <a href="#!" 
                  >Privacy Policy</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="social-menu">
          <ul>
            <li>
              <a href="https://www.facebook.com/Siltena-106906392008189" target="_blank"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://www.facebook.com/Siltena-106906392008189" target="_blank"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.facebook.com/Siltena-106906392008189" target="_blank"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.facebook.com/Siltena-106906392008189"
                target="_blank"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div> 
      </div>
        <div class="copyright">
            <div class="copyright-text">
            <p>&copy; ${datetime.now(pytz.timezone(settings.TIME_ZONE)).year} Gobeze
              Consult. All rights reserved.</p>
          </div>
          
        </div>
         
        </div>
      </footer>
</div>