<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("For Government")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
   <div class="all-wrapper">
        <div class="g-cont">
            <div class="g-img">
                <img src="static/my-theme/images/standingman.png">
            </div>
            <div class="g-text">
                <div class="g-headline">
                    <h1>Transform your workforce with <span class="left-align">the skills of the future</span> </h1>
                </div>
                <p>Connect citizens and employees to world-class, online training from top universities and companies.
                </p>
                
            </div>

        </div>
    </div>
    <!-- End Section One -->

    <!-- Section Two: Power  -->

    <section id="pow">
        <div class="pow-cont">
            <div class="p-heading">
                <h1>Power your learning with Siltena for Government today.</h1>
            </div>
            <div class="req-btn">
                <a href="mailto:hello@gobezeconsult.com"><b>Request Info</b></a>
            </div>
        </div>
    </section>

    <!-- End Section Two: Power -->

    <!-- Section Three: Prepare -->

    <section id="prepare">
        <div class="prep-head">
            <h1>Prepare your workforce for the jobs of tomorrow with the world's leading skills platform</h1>
        </div>
        <div class="g-cards">
            <div class="g-card">
                <div class="g-card-img">
                    <img class="card-imgs" src="static/my-theme/images/gov/teach-icon.png" alt="">
                </div>
                <h4>World-class content</h4>
                <p>Access courses developed by thought-leaders and experts in their field </p>
            </div>
            <div class="g-card">
                <div class="g-card-img">
                    <img class="card-imgs" src="static/my-theme/images/gov/devices-icon.png" alt="">
                </div>
                <h4>Learn anywhere, anytime</h4>
                <p>Videos, assignments, readings and discussion forums are available via web or mobile device</p>
            </div>
            <div class="g-card">
                <div class="g-card-img">
                    <img class="card-imgs" src="static/my-theme/images/gov/cerification-icon.png" alt="">
                </div>
                <h4>Certificates</h4>
                <p>Learners have the option to earn a verified certificate upon successful completion of a course</p>
            </div>
            <div class="g-card">
                <div class="g-card-img">
                    <img class="card-imgs" src="static/my-theme/images/gov/puzzle-icon.png" alt="">
                </div>
                <h4>Custom content curation</h4>
                <p>We help you select from 3,800+ courses, certificates, and degrees to best align with your priorities</p>
            </div>
            <div class="g-card">
                <div class="g-card-img">
                    <img class="card-imgs" src="static/my-theme/images/gov/people-icon.png" alt="">
                </div>
                <h4>Strategic customer success</h4>
                <p>Our Customer Success team partners with you to sustain impactful learning programs</p>
            </div>
            <div class="g-card">
                <div class="g-card-img">
                    <img class="card-imgs" src="static/my-theme/images/gov/graphs-icons.png" alt="">
                </div>
                <h4>Understand ROI and impact</h4>
                <p>Measure program impact and learners’ skill mastery with industry benchmarks and skills dashboards</p>
            </div>
        </div>
            
    </section>
</main>