<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Teach with Us")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
        <div id="t-jumbo">
        <div class="t-content">
            <h1>Inspire creativity in others.</h1>
            <h2>Teach on Gobeze and share your passion with members around the world.</h2>
        </div>
    </div>
    <!-- Why teach on Gobeze section -->
    <section class="t-why">
        <h1>Why teach on Gobeze?</h1>
        <div class="text1">

            <p>
                When you help others along their creative journey, it’s rewarding in more ways than one. By teaching on
                Gobeze, you can grow your online following, give back, and earn money. Top earning teachers make
                $100,000+ each year.
            </p>
            <div class="line1"></div>
        </div>
        <div class="text2">

            <p>
                Gobeze teachers are real working creatives and experts eager to share their expertise. If you’re an
                experienced creative pro with tips, techniques and skills to demonstrate, we offer an extensive suite of
                resources and responsive support to help you create classes that inspire.
            </p>
            <div class="line1"></div>
        </div>
    </section>
    <!-- End Why teach on Gobeze section -->
    <!-- How teaching work? -->
    <section id="how-teaching">

        <div class="t-title">
            <h1>How Teaching Works</h1>
        </div>
        <div class="t-cards">
            <div class="t-card">
                <div class="item-img">
                    <img class="item-imgs" src="https://botaye.com/static/my-theme/images/how-create-first-class.svg" alt="">
                </div>
                <h4>Create Your First Class</h4>
                <p>Film your Skillshare class and publish it with our easy class upload tool. We provide help every step
                    of the way.</p>
            </div>
            <div class="t-card">
                <div class="item-img">
                    <img class="item-imgs" src="https://botaye.com/static/my-theme/images/how-grow-following.svg" alt="">
                </div>
                <h4>Grow Your Following</h4>
                <p>There are millions of members learning on Skillshare. We’ll show you how to build your presence in
                    the Skillshare community and beyond.</p>
            </div>
            <div class="t-card">
                <div class="item-img">
                    <img class="item-imgs" src="https://botaye.com/static/my-theme/images/how-start-earning.svg" alt="">
                </div>
                <h4>Start Earning</h4>
                <p>You’ll be paid monthly for every member who watches your classes, forever. Top earning teachers make
                    $100,000+ a year.</p>
            </div>
        </div>

    </section>
    <!-- How teaching work? -->


    <!-- Ready to Start Teaching? -->
    <section id="ready">

        <div class="t-title">
            <h1>Ready to Start Teaching?</h1>
        </div>
        <p>Contact us via email traingobeze@gmail.com or You can call <span class="phone-no">+251 927719223</span></p>


    </section>
</main>