<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Teach with Us")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
        <div id="t-jumbo">
        <div class="colorant">  
        <div class="t-content">
            <h1>Inspire creativity in others.</h1>
            <h2>Teach on Siltena and share your passion with members around Ethiopia.</h2>
        </div>
        </div>  
    </div>
    <!-- Why teach on Siltena section -->
    <section class="t-why">
        <h1>Why teach on Siltena?</h1>
        <div class="text-1">

            <p>
                When you help others along their creative journey, it’s rewarding in more ways than one.By teaching on
                Siltena, you can grow your online following, give back, and earn money.
            </p>
        </div>
        <div class="text-2">

            <p>
                Siltena teachers are real working creatives and experts eager to share their expertise.If you’re an
                experienced creative pro with tips, techniques and skills to demonstrate, we offer an extensive suite of
                resources and responsive support to help you create classes that inspire.
            </p>
        </div>
    </section>
    <!-- End Why teach on Siltena section -->
    <!-- How teaching work? -->
    <section id="how-teaching">

        <div class="t-title">
            <h1>How Teaching Works</h1>
        </div>
        <div class="t-cards">
            <div class="t-card">
                <h1 class="number"> 1</h1>
                <div class="item-img">
                    <img class="item-imgs" src="static/my-theme/images/how-create-first-class.svg" alt="">
                </div>
                <h4>Create Your First Class</h4>
                <p>Develop your course material with our experienced team and film the classes with experts. Upload it on our easy to use learning platform.</p>
            </div>
            <div class="t-card">
                <h1 class="number"> 2</h1>
                <div class="item-img">
                    <img class="item-imgs" src="static/my-theme/images/how-grow-following.svg" alt="">
                </div>
                <h4>Grow Your Following</h4>
                <p>Our platform is attracting hundreds of people seeking online learning opportunities. This will be an opportunity to develop your brand by sharing your knowledge.</p>
            </div>
            <div class="t-card">
                <h1 class="number"> 3</h1>
                <div class="item-img">
                    <img class="item-imgs" src="static/my-theme/images/how-start-earning.svg" alt="">
                </div>
                <h4>Start Making a Difference</h4>
                <p>Impart your knowledge and experience with the leading online education platform dedicated to giving people the tools they need to improve their lives. Plus you will receive royalties for the class you create.</p>
            </div>
        </div>

    </section>
    <!-- How teaching work? -->


    <!-- Ready to Start Teaching? -->
    <section id="ready">

        <div class="t-title">
            <h1>Ready to Start Teaching?</h1>
        </div>
        <p>Contact us via email hello@gobezeconsult.com or You can call <a href="tel:0927719223"> <span class="phone-no">+251 927719223</span> </a> </p>


    </section>
</main>